<footer class="bg-deep-purple text-white py-4 ">
  <div class="container text-center">
    <div class="mb-2">
      <a href="#services" class="text-white me-3">Services</a>
      <a href="#about" class="text-white me-3">About</a>
      <a href="#blog" class="text-white me-3">Blog</a>
      <a href="#contact" class="text-white">Contact</a>
    </div>
    <div class="mb-2">
      <small>&copy; 2024 Wareesha Khawar. All Rights Reserved.</small>
    </div>
    <div>
      <a href="#" class="text-white-50 me-2">Terms of Use</a>
      <a href="#" class="text-white-50">Privacy Policy</a>
    </div>
  </div>
</footer> 